* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #ADFCF9 10%,#ADFCF9 20%, white 80%, white 100%); 
  font-family: 'Nunito', sans-serif;
}
body h2 {
  text-align: center;
}
#mainHeader {
  text-align: center;
  margin: 0;
  font-size: 2.7em;
}
#navBar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navBar li {
  display: inline
}
#navBar li a {
  color: black;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  font-size: .9em;
  color: blue;
}
#navBar li a:hover {
  background-color: white;
}
.imageContainer p {
  text-align: center;
}
.imageContainer img {
  width: 40%;
  margin: auto;
  display: block;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 30px;
}
.aboutParagraph {
  width: 45%;
  padding-top: 20px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  text-indent: 50px;
}
#myInterests {
  margin: auto;
  display: table;
}
#myInterests ul li {
  font-weight: bold;
  align-text: center;
  padding: 5px;
}
#links {
  display: table;
  margin: auto;
}
#links li a {
  text-decoration: none;
  font-size: 1.2em;
}
.feedbackForm {
  height: 10em;
  width: 30em;
}
#contact {
  text-align: center;
}
.submitButton {
  color: blue;
  font-size: .8em;
  border-radius: 10px;
}
.submitButton:hover {
  background-color: #F1F4F6;
}
.backToTop a {
  text-decoration: none;
}
.backToTop a p {
  font-size: .7em;
  text-align: center;
  width: 20%;
  height: 30px;
  padding-top: 10px;
  margin: auto;
}
.backToTop a p:hover {
  background-color: #F1F4F6;
}
