* {
  border-color: #1F271B;
  box-sizing: border-box;
}
body {
  background-color: #D7F1F4;
}
#navBar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navBar li {
  display: inline;
}
#navBar li a {
  color: black;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
}
#navBar li a:hover {
  background-color: white;
}

.mainHeader {
  text-align: center;
  margin: 0;
  border-bottom: solid 1px;
  font-size: 2.5em;
}
.imageContainer {
  width: 100%;
}
.imageContainer img {
  width: 33.33%;
  float: left;
}